<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Stock ticker look-up">
    <meta name="author" content="@gotoariel">

    <title>Stock ticker look-up</title>

    <!-- <link rel="stylesheet" href='{ url_for('static', filename='style.css')}' type="text/css" /> -->
    <link rel="stylesheet" href="//cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
    <script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      body{
        padding-top:70px;
        margin-left: 30px;
        height: 80%;
      }
    </style>
    <style type="text/css">  a[data-v-11b2e33f] { cursor: pointer; }
    </style>

  </head>
  <body>
   <!--navigation bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      
      <div class="container">
        
        <!-- group brand & toggle together for mobile display-->
        <div class="navbar-header">
          
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav1">
            <span class="sr-only"> Toggle navigation</span>
          </button>
          <span class="navbar-brand">Stock look-up app</span>
          
        </div>

        <!-- designing navigation bar when on browser-->
        <div class="collapse navbar-collapse" id="nav-1">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">
                New query
                <span class="sr-only"> (current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={{search}}>
                {{ticker}}
              </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" href="https://github.com/ArBridgeman">
                GitHub
                <span class="sr-only"> (current)</span>
              </a>
            </li>
          </ul>
        </div>
        
      </div>
      
    </nav>

    <div class="container">
      {{message}}
      {{script|safe}}
      {{div|safe}}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>