body {
    margin: 0px;
    font-family: sans;
    overflow-y: scroll;
}

#header {
    width: 100%;
    background: #222;
    padding: 16px 50px;
    color: white;
    box-sizing: border-box;
}

a {
    color: #bbb;
    text-decoration: none;
    padding-left: 1.464vw;
}

a:hover {
    color: white;
}

.cell {
    width: 50%;
    display: table-cell;
}

form {
    width: auto;
    padding: 1.464vw;
    border: 1px solid #eee;
    border-radius: 2px;
    background: white;

    /* cover the spinner */
    position: relative;
    z-index: 10;

    /* for centering divs that shrink to the contents size*/
    display: table;
    margin: 1.464vw 0.732vw 0px auto;
}

#heatmap {
    max-height: 80vh;
    height: 100%;
    margin: 1.464vw auto 0px 0.732vw;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

#main {
    display: flex;
    justify-content: center;
}

#spinner {
    position: relative;
    margin: 0px auto;
    z-index: 0;
    
    /* style */
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 100%;
    border: 10px solid;
    border-color: #00b4cb #82235c #7dd0b6 #1c4d8a;

    /* animation */
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(0deg);

    /* transition*/
    opacity: 0;
    top: -60px;
    transition: top 1s ease-out, opacity 1s ease-out;
}

#spinner_and_form_container {
    display: table;

    margin: 0px 0px 0px auto;
}

#spinner.active {
    top: -40px;
    opacity: 1;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}